<a href="https://colab.research.google.com/github/Kpantigere/Batch_Fall_23_DataA_nalytics/blob/main/Copy_of_Transformations_%26_Joins_in_Pandas_UMI_Class.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Class Content

1. Simple column operations
2. Custom row-wise transformations
3. Concatenating dataframes
4. Joining dataframes

# Let's remember the 'cars' Dataframe:
The dataframe contains the information of 10.000 cars. There are 9 different columns:
- Make (Car brand, example: Ford)
- Model (The Model of the Car, example: Focus)
- Year (The Year in which the car was build, example: 2012)
- Variant (The car model version showing the PS, example: 1.6 Trendline)
- Kms (The kilometers the cars has been driven, example: 90000)
- Price (The offered price for the car, example: 10000)
- Doors (How many doors the car has, example: 4)
- Kind (Type of car, example: Pick-Up)
- Location (Where the car is located, example: Buenos Aires)

In [55]:
import pandas as pd
import numpy as np

# this is a hack to allow displaying more than one result per notebook cell
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [56]:
cars = pd.read_csv("https://raw.githubusercontent.com/juliandnl/redi_ss20/master/cars.csv")

In [3]:
cars1 = cars.copy()

In [ ]:
cars1.head(4)

# Simple column operations

### Create an empty new variable

In [58]:
cars1.loc[:, 'test'] = None

In [ ]:
cars1.head()

### Create a new variable with some value

In [60]:
cars1.loc[1:2, 'new_data'] = 1

In [ ]:
cars1.head()

In [ ]:
cars1.loc[:, 'new_data'] = 1

cars1.head(10)

### Overwrite pre-existing data

In [ ]:
cars1['new_data'] = 2
cars1.head()

In [ ]:
import datetime

# get current year
year = datetime.date.today().year
year

# calculate YTD = years-to-date (age of the car)
cars1.loc[:, 'YTD'] = year - cars.loc[:, 'Year']

In [ ]:
cars1.head()

### New column based on exisitng column

In [ ]:
# Small exercise: combine the 'Make' (i.e. brand of a car) and 'Model' into a single column
# For example, if the brand is 'Ford' and the model 'Ranger', the new columns should
# be the string 'Ford Ranger'
cars1['Brand Model'] = cars1['Make'] + " " + cars1['Model']
cars1.head(10)

In [ ]:
#Covert prices to euro
cars1['Euro'] = cars1['Price']/1000
cars1

In [ ]:
# Convert prices to euros

In [ ]:
cars.head()

In [ ]:
# Small exercise: How can we convert kilometers ('Kms') to miles to show them to our British users?
cars1['Mph'] = cars1['Kms']/1.6
cars1

In [ ]:
cars1.head()

In [ ]:
cars1['test'] = None
cars1['new_data'] = 2
cars1

### Dropping one or more columns

In [ ]:
cars1.head()
cars1.drop('Euro', axis = 1)

In [ ]:
cars1 = cars1.drop(columns='test', axis = 0)
cars1

In [120]:
cars1.head()

,Make,Model,Year,Variant,Kms,Price,Doors,Kind,Location,YTD,Brand Model,Mph,"(test, New_Data)"
0,Volkswagen,Vento,2012,2.5 Luxury 170cv,99950,360000,4.0,Sedán,Córdoba,11,Volkswagen Vento,62468.75,None
1,Ford,Ranger,2012,2.3 Cd Xl Plus 4x2,140000,320000,2.0,Pick-Up,Entre Ríos,11,Ford Ranger,87500.00,None
2,Volkswagen,Fox,2011,1.6 Trendline,132000,209980,5.0,Hatchback,Bs.as. G.b.a. Sur,12,Volkswagen Fox,82500.00,None
3,Ford,Ranger,2017,3.2 Cd Xls Tdci 200cv Automática,13000,798000,4.0,Pick-Up,Neuquén,6,Ford Ranger,8125.00,None
4,Volkswagen,Gol,2013,1.4 Power 83cv 3 p,107000,146000,3.0,Hatchback,Córdoba,10,Volkswagen Gol,66875.00,None

In [ ]:
cars1.drop(columns=('Euro'), inplace=True) # with inplace-parameter
cars1

In [ ]:
cars.head()

In [ ]:
cars1 = cars1.drop(columns=['Brand Model', 'YTD'], axis=0)
cars1.head(2)

### Dropping specific rows

In [ ]:
cars1.head(5)

In [ ]:
cars1.drop(labels=[1, 2]).head(4)

In [127]:
# Note that cars dataset is not changed in place!
cars1.head()
cars1.drop(columns=['test, New_Data'], axis=0)

,Make,Model,Year,Variant,Kms,Price,Doors,Kind,Location,Mph,"(test, New_Data)"
0,Volkswagen,Vento,2012,2.5 Luxury 170cv,99950,360000,4.0,Sedán,Córdoba,62468.75,None
1,Ford,Ranger,2012,2.3 Cd Xl Plus 4x2,140000,320000,2.0,Pick-Up,Entre Ríos,87500.00,None
2,Volkswagen,Fox,2011,1.6 Trendline,132000,209980,5.0,Hatchback,Bs.as. G.b.a. Sur,82500.00,None
3,Ford,Ranger,2017,3.2 Cd Xls Tdci 200cv Automática,13000,798000,4.0,Pick-Up,Neuquén,8125.00,None
4,Volkswagen,Gol,2013,1.4 Power 83cv 3 p,107000,146000,3.0,Hatchback,Córdoba,66875.00,None

KeyError: ignored

### Exercise

1. Replace the brand name 'Volkswagen' with 'VW'

In [ ]:
cars1['Make'] = cars1['Make'].replace('Volkswagen', 'VW')
cars1.head(4)

2. Let's assume the price of the Ford Ranger from 2018 in Santa Fe is incorrect. Fix the value from 730000 to 800000.

In [ ]:
cars1['Brand Model'] = cars1['Make'] + " " + cars1['Model']
cars_2 = cars1.loc[(cars1['Brand Model']=='Ford Ranger') & (cars1['Year']> 2012) & (cars1['Location']=='Santa Fe')]
cars_2

3. Delete all rows from the city of 'Córdoba'
    * Use simple filtering to create a new dataframe without those rows
    * Try to use the 'drop' function

In [194]:
#Delete all rows from the city of 'Córdoba'
#Use simple filtering to create a new dataframe without those rows
#Try to use the 'drop' function
#Delete all rows from the city of 'Córdoba'
#Use simple filtering to create a new dataframe without those rows
#Try to use the 'drop' function
Córdoba = cars1[cars1['Location']=='Córdoba'].index
drop_Cordoba = cars1.drop(labels = Córdoba, axis=0)
drop_Cordoba

,Make,Model,Year,Variant,Kms,Price,Doors,Kind,Location,Mph,"(test, New_Data)",Brand Model
1,Ford,Ranger,2012,2.3 Cd Xl Plus 4x2,140000,320000,2.0,Pick-Up,Entre Ríos,87500.000,None,Ford Ranger
2,VW,Fox,2011,1.6 Trendline,132000,209980,5.0,Hatchback,Bs.as. G.b.a. Sur,82500.000,None,VW Fox
3,Ford,Ranger,2017,3.2 Cd Xls Tdci 200cv Automática,13000,798000,4.0,Pick-Up,Neuquén,8125.000,None,Ford Ranger
5,VW,Amarok,2014,2.0 Cd Tdi 180cv 4x4 Highline C34,115000,790000,4.0,Pick-Up,Buenos Aires Interior,71875.000,None,VW Amarok
6,Ford,Ka,2012,1.0 Fly Viral 63cv,95243,142000,3.0,Hatchback,Bs.as. G.b.a. Sur,59526.875,None,Ford Ka
...,...,...,...,...,...,...,...,...,...,...,...,...
9995,Ford,Focus III,2016,2.0 Se,67000,399000,5.0,Hatchback,Bs.as. G.b.a. Oeste,41875.000,None,Ford Focus III
9996,VW,Bora,2012,1.9 Trendline I 100cv,120000,240000,4.0,Sedán,Buenos Aires Interior,75000.000,None,VW Bora
9997,Ford,Fiesta Kinetic Design,2012,1.6 Design 120cv Titanium,89000,250000,5.0,Hatchback,Tucumán,55625.000,None,Ford Fiesta Kinetic Design
9998,Ford,Fiesta Kinetic Design,2013,1.6 Design 120cv Titanium,76000,295000,5.0,Hatchback,Buenos Aires Interior,47500.000,None,Ford Fiesta Kinetic Design
9999,Ford,Focus III,2014,2.0 Titanium At6,32000,380000,5.0,Hatchback,Bs.as. G.b.a. Sur,20000.000,None,Ford Focus III

# Row transformations

### Simple if/else scenarios

In [ ]:
cars.loc[:, 'is_Ford_car'] = np.where(cars.loc[:, 'Make'] == 'Ford', 1, 0)
cars.head()

### Custom transformations single column

In [ ]:
def my_custom_uppercase(kind):
  return kind.upper()

cars.loc[:, 'Kind'].apply(my_custom_uppercase)

In [ ]:
# 'lambda' is used to specify a so-called "anonymous function"
kind_uppercased = cars.loc[:, 'Kind'].apply(lambda kind: kind.upper())
kind_uppercased

In [ ]:
cars.loc[:, 'kind_upper'] = kind_uppercased
cars.head()

### Custom transformations on the whole row

In [ ]:
avg_price = cars.loc[:, 'Price'].mean()

def classify_car_quality(car_row):
  car_quality = None

  if car_row['Year'] > 2015 and car_row['Price'] < avg_price:
    car_quality = 'good'
  else:
    car_quality = 'bad'

  return car_quality

# use custom 'def' function for complex scenarios
cars.loc[:, 'car_quality'] = cars.apply(classify_car_quality, axis=1)
cars.head()

In [ ]:
# use custom lamdba function for simple scenarios
cars.loc[:, 'car_quality'] = cars.apply(lambda row: 'good' if row['Year'] > 2015 and row['Price'] < avg_price else 'bad', axis=1)
cars.head()

In [ ]:
car_quality_filter = (cars.loc[:, 'Year'] > 2015) & (cars.loc[:, 'Price'] < avg_price)

# use built-in functionality whenever available
cars.loc[:, 'car_quality'] = np.where(car_quality_filter, 'good', 'bad')
cars.head()

# Concatenating dataframes


```
pd.concat()
```

In [ ]:
cars.shape

In [ ]:
cars.head()

In [ ]:
cars_concat_columns = pd.concat([cars, cars], axis=1)

In [ ]:
cars_concat_columns.shape

In [ ]:
cars_concat_columns.head()

In [ ]:
first_row = cars.loc[:0, :]
first_row

In [ ]:
concat_unequal_rows = pd.concat([first_row, cars], axis=1)
concat_unequal_rows.head()

In [ ]:
cars_concat_rows = pd.concat([first_row, cars], axis=0)

In [ ]:
cars_concat_rows.shape

In [ ]:
cars_concat_rows.head()

In [ ]:
cars_concat_rows.reset_index(drop=True).head()

# Joining dataframes
Joining two datasets is the fundamental action to add additional information to your dataset.

An example: You have information on
- sales: `purchase_date`, `item-id`, `customer-id`, `count_purchases` (how often was the item purchased)
- customer: `customer-id`, `full_name`, `address`, `payment_method`
- items: `item-id`, `descriptive_name`, `category` (toy, sports equipment, etc), `price`

Each of the information lives in a separate table. To answer questions like "On which category do the customer spend most of their money?" or "Do we sell in a specific part of the country more toys than in other parts of the country?" we need to combine the information of all three tables.

This is done by "joins", in pandas it is called "merge".

The join is done using an identifyer - a key/ID or a name - appearing in both tables. In every row where the identifyer appears in both tables, we have a "match" and the information of both datasets can be joined.

The merged information appear as additional columns in the resulting dataframe.

The command for a join in pandas looks like this

```
result = pd.merge(sales, customer, how="left", on="Customer_ID")
result = sales.merge(customer, how="left", on="Customer_ID")
```
`sales` is the *left* table, `customer` is the *right* table. `how` defines the type of join, `on` the variable on which the join will be performed, the identifier.

`result` will have all *columns* from the left table and all *columns* from the right table. The identifyer is included only once. That means for our example result will have the columns  `purchase_date`, `item-id`, `customer-id`, `count_purchases`, `full_name`, `address`, `payment_method`.


We distinguish different types of joins. They define how many *rows* we have in the result.


- **Left Join:** The resulting table contains the complete left table and all matching records from the right table. Records where no match exist appear is NaN. A **right join** is the same as a left join where left and right table are swapped.
- **Outer Join:** The resulting table contains all records of the left table and all records of the right table. Not matching records are filled with NaN.
- **Inner Join:** The resulting table contains only records where a match of left and right table exist.

The type of joins are often illustrated by Venn diagrams where the right circle symbolizes the right table and the left circle the left table.


# Inner join
![left join](https://learn.microsoft.com/en-us/power-query/media/merge-queries-inner/inner-join-operation.png)

# Left outer join
![left join](https://docs.microsoft.com/de-de/power-query/images/left-outer-join-operation.png)

# Right outer join
![right join](https://learn.microsoft.com/en-us/power-query/media/merge-queries-right-outer/right-outer-join-operation.png)

# Full outer join
![outer join](https://learn.microsoft.com/en-us/power-query/media/merge-queries-full-outer/full-outer-join-operation.png)

**To** practice joins we will need to have a second dataframe which can be joined onto 'cars'. The dataframe is computed from 'cars' and has following properties
- Average price **in euros €** of car models per brand (brand = Make). Columns: `Make, Model, avg_price`
- 3 additional "invented" rows
- All cars from 'Mercedes Benz' are removed

In [ ]:
avg_model_prices = cars.groupby(['Make', 'Model'])['price_euros'].mean().reset_index()
avg_model_prices = avg_model_prices.rename(columns={'price_euros': 'avg_price'})
avg_model_prices = avg_model_prices.loc[avg_model_prices.loc[:, 'Make'] != 'Mercedes Benz', :]

invented_rows = pd.DataFrame(
    data = [('Ford', 'Lo', 158703.340), ('Ford', 'Hi', 324235.670), ('Ford', 'Cheap', 6533.700)],
    columns=['Make', 'Model', 'avg_price']
)

avg_model_prices = pd.concat([invented_rows, avg_model_prices], axis=0, ignore_index=True)

avg_model_prices.shape

In [ ]:
avg_model_prices.head()

### Left outer join

In [ ]:
left_join = pd.merge(cars, avg_model_prices, on=['Make', 'Model'], how='left')

In [ ]:
left_join.head()

In [ ]:
# A left join includes the complete left table. The result of a left join has therefore
# the same number of rows as the left table IF the join columns are unique in the right table.
cars.shape
print()
left_join.shape

In [ ]:
# avg_model_prices does not include entries for 'Mercedes Benz'
# Those rows are then filled with NaN in a left join
left_join.loc[left_join.loc[:, 'Make'] == 'Mercedes Benz', :].head()

In [ ]:
# The "invented" models from avg_model_prices don't exist in the cars dataset, so
# they also don't exist in the result
left_join.loc[left_join.loc[:, 'Model'] == 'Cheap', :]